/*.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Nav-Bar Nav-Bar Nav-Bar Nav-Bar";
}*/

.Nav-Bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Logo Nav1 Nav2 Nav3";
  /*grid-area: Nav-Bar;*/
    border-bottom: 5px solid black;
}

.Logo { grid-area: Logo; }

.Nav1 { grid-area: Nav1; }

.Nav2 { grid-area: Nav2; }

.Nav3 { grid-area: Nav3; }

.event {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

/* Makes the image move to postition 2 */
.event:nth-child(odd) .Event-1-IMG{
    grid-column: 2;
    grid-row:1;
}

/* Makes the text move to postition 1 */
.event:nth-child(odd) .Event-1-TEXT{
    grid-column: 1;
    grid-row:1;
}
/* Nav Bar Styling!!*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* Nav Bar Styling ENDS!!*/

.ThomasClausen {
    float: right;
}
