/*.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Nav-Bar Nav-Bar Nav-Bar Nav-Bar";
}*/

*{
    box-sizing: border-box;
}

.Nav-Bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.05fr;
  grid-template-areas: "Logo Nav1 Nav2 Nav3 search";
  /*grid-area: Nav-Bar;*/
    background-color: black;
}

.Logo {
    grid-area: Logo;
    background-color: black;
}

.Nav1 { grid-area: Nav1; }

.Nav2 { grid-area: Nav2; }

.Nav3 { grid-area: Nav3; }

.search{
    grid-area: search;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.event {
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
}


.Hero-Image {
    grid-area: Hero-Image;
}

.heroimg {
   width: 98.5vw;
}



/* Makes the image move to postition 2 */
.event:nth-child(odd) .Event-1-IMG{
    grid-column: 2;
    grid-row:1;
}

/* Makes the text move to postition 1 */
.event:nth-child(odd) .Event-1-TEXT{
    grid-column: 1;
    grid-row:1;
}
/* Nav Bar Styling!!*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #ffffff;
    color: black;
}

ul:hover{
    background-color: #ffffff;
    color: #000000;
}

/* Nav Bar Styling ENDS!!*/

.ThomasClausen {
    float: right;
}

h1 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h2 {
     font-family: 'Nunito', sans-serif;
    text-align: center;
}



.MoreInfoDiv{
    text-align: center;
}

.example_c {
    text-transform: uppercase;
    text-decoration: none;
    background: #000000;
    padding: 20px;
    display: inline-block;
    transition: all 0.4s ease 0s;
    border-radius: 50px;
    color: #ffffff;


}

.example_c:hover {
color: #ffffff !important;
background: #000000;
border-color: #000000 !important;
transition: all 0.4s ease 0s;
    border-radius: 0px;
    transition-duration: 1s;
}

