.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr;
  grid-template-areas: "Nav_bar Nav_bar Nav_bar Nav_bar" "Main Main Main Main" "Main Main Main Main";

}

.Main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1fr 0.2fr;
  grid-template-areas: "Header Date_Time" "Content Trailer" "Button_Price .";
  grid-area: Main;
    background-image: url(Images/life-is-beautiful.jpeg);
    background-repeat: no-repeat;
}

.Header { grid-area: Header; }

.Content { grid-area: Content;
color: white;
}

.Button_Price {
    grid-area: Button_Price;
}

.Date_Time {
    grid-area: Date_Time;
    word-wrap: break-word;
    width: 150px;
  border: 2.5px solid #ffffff;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.Trailer { grid-area: Trailer; }

.Nav_bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Logo Op1 Op2 Op3";
  grid-area: Nav_bar;
}

.Logo { grid-area: Logo; }

.Op1 { grid-area: Op1; }

.Op2 { grid-area: Op2; }

.Op3 { grid-area: Op3; }






/*Button Styling Begins */


.example_c {
color: #494949 !important;
text-transform: uppercase;
text-decoration: none;
background: #ffffff;
padding: 20px;
display: inline-block;
transition: all 0.4s ease 0s;
border-radius: 50px;
}

.example_c:hover {
color: #ffffff !important;
background: #000000;
border-color: #000000 !important;
transition: all 0.4s ease 0s;
    border-radius: 0px;
    transition-duration: 1s;
}
/*Button Styling ENDS!!! */
